In [ ]:
# import data `bird.csv` to pandas dataframe
import pandas as pd

df = pd.read_csv("bird.csv")
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [2]:
df

,no,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...,...
339,339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [3]:
# show data type of each column from `df`
print(df.dtypes)

no                     int64
species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [4]:
# describe the data from `df`
print(df.describe())

               no  bill_length_mm  bill_depth_mm  flipper_length_mm  \
count  344.000000      342.000000     342.000000         342.000000
mean   171.500000       43.921930      17.151170         200.915205
std     99.448479        5.459584       1.974793          14.061714
min      0.000000       32.100000      13.100000         172.000000
25%     85.750000       39.225000      15.600000         190.000000
50%    171.500000       44.450000      17.300000         197.000000
75%    257.250000       48.500000      18.700000         213.000000
max    343.000000       59.600000      21.500000         231.000000

       body_mass_g
count   342.000000
mean   4201.754386
std     801.954536
min    2700.000000
25%    3550.000000
50%    4050.000000
75%    4750.000000
max    6300.000000

In [7]:
df.head(n=2)

,no,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

In [6]:
df.tail()

,no,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [8]:
df.sample(n=5)

,no,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
222,222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,Female
101,101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,Male
286,286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
303,303,Gentoo,Biscoe,50.0,15.9,224.0,5350.0,Male
221,221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male

In [9]:
print("length of df: ", len(df))

length of df:  344

In [ ]:
# drop duplicate based on `flipper_length_mm` and `body_mass_g`
df.drop_duplicates(subset=["flipper_length_mm", "body_mass_g"], inplace=True)

In [11]:
print("length of df after dropping duplicated: ", len(df))

length of df after dropping duplicated:  306